@{
    ViewBag.Title = "Saloni namestaja";
}

<h1>Svet namestaja</h1>

<div class="row">
    <div class="col-md-4">
        <img class="img-responsive" alt="@ViewBag.Title" src="~/Content/furniture.jpg" height="500" width="500"/>
    </div>
</div>